

@model RapidAPIProject.Models.CryptoViewModel2

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
	<div class="mdc-card info-card info-card--danger">
		<div class="card-inner">
			<h5 class="card-title">@Model.symbol</h5>
			<br /><br />
			<h5 class="font-weight-light pb-2 mb-1 border-bottom">
				<b>@Model.lastPrice</b>
			</h5>
			<div class="card-icon-wrapper">
				<i class="fa-brands fa-bitcoin"></i>
			</div>
		</div>
	</div>
</div>


